<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>US QA App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    {% include 'includes/_navbar.html' %}
    <div class = "container"> 
        {% block body %}{% endblock %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>   
</body>
</html>